.button {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--dark-blue);
  border-radius: var(--border-radius);
  border: none;
  color: var(--text);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}