.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logoIcon {
  width: 30px;
  height: 30px;
  fill: var(--blue);
}

.logoFirstLetter {

}

.logoSecondLetter {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}